<?xml-model href="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1I00.sch"
    schematypens="http://purl.oclc.org/dsdl/schematron"?>
<Product_Thumbnail xmlns="http://pds.nasa.gov/pds4/pds/v1" 
                xmlns:pds="http://pds.nasa.gov/pds4/pds/v1" 
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                xsi:schemaLocation="http://pds.nasa.gov/pds4/pds/v1 https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1I00.xsd">
    <Identification_Area>
        <logical_identifier>urn:nasa:pds:{{ bundle_id }}:miscellaneous_thumbnail:{{ product_id }}</logical_identifier>
        <version_id>1.0</version_id>
        <title>{{ title }}</title>
        <information_model_version>1.18.0.0</information_model_version>
        <product_class>Product_Thumbnail</product_class>
    </Identification_Area>
    <Reference_List>
        <Internal_Reference>
            <lid_reference>{{ browse_product_lid }}</lid_reference>
            <reference_type>thumbnail_to_browse</reference_type>
        </Internal_Reference>
        <Internal_Reference>
            <lid_reference>{{ original_product_lid }}</lid_reference>
            <reference_type>thumbnail_to_data</reference_type>
        </Internal_Reference>
    </Reference_List>
    <File_Area_Encoded_Image>
        <File>
            <file_name>{{ data_file_name }}</file_name>
            <local_identifier>THUMBNAIL_FILE</local_identifier>
        </File>
        <Encoded_Image>
            <local_identifier>THUMBNAIL_IMAGE</local_identifier>
            <offset unit="byte">0</offset>
            <encoding_standard_id>{{ encoding_standard_id }}</encoding_standard_id>
        </Encoded_Image>
    </File_Area_Browse>
</Product_Thumbnail>